@using EarnHome.Models;
@{
    User user = Session["User"] as User;
    EarnHomeEntities db = new EarnHomeEntities();
    List<Notification>notification = new List<Notification>();
    List<Message> messages = new List<Message>();
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EVDƏN QAZAN</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Public/assets/media/image/favicon.png" />

    <!-- Plugin styles -->
    <link rel="stylesheet" href="~/Public/vendors/bundle.css" type="text/css">

    <!-- Slick -->
    <link rel="stylesheet" href="~/Public/vendors/slick/slick.css" type="text/css">
    <link rel="stylesheet" href="~/Public/vendors/slick/slick-theme.css" type="text/css">

    <!-- Daterangepicker -->
    <link rel="stylesheet" href="~/Public/vendors/datepicker/daterangepicker.css" type="text/css">

    <!-- DataTable -->
    <link rel="stylesheet" href="~/Public/vendors/dataTable/datatables.min.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="~/Public/assets/css/app.min.css" type="text/css">
</head>
<body class="header-dark">

    <!-- begin::preloader-->
    <div class="preloader">
        <div class="preloader-icon"></div>
    </div>
    <!-- end::preloader -->
    <!-- BEGIN: Sidebar Group -->

    <div class="sidebar-group">
        <!-- BEGIN: User Menu -->
        <!-- begin::header -->
        <div class="header d-print-none">

            <div class="header-left">
                <div class="header-logo">
                    <a href=index-2.html>
                        <img class="logo" src="~/Public/assets/media/image/2020_Logo_Xerty-1.jpg" alt="logo">
                        <img class="logo-light" src="~/Public/assets/media/image/2020_Logo_Xerty-1.jpg" alt="light logo">
                    </a>
                </div>
            </div>

            <div class="header-body">
                <div class="header-body-left">
                    <div class="page-title">
                        <h4>Evden Qazan</h4>
                    </div>
                </div>
                <div class="header-body-right">
                    <ul class="navbar-nav">
                        @*Language settings*@
                        <li class="nav-item">
                            <a href="#" title="Language" class="nav-link" data-toggle="dropdown">
                                <img width="18" src="~/Public/assets/media/image/flags/Azerbaijan-flag (2).jpg"
                                     alt="flag"
                                     class="mr-2 rounded" title="Azerbaijan">Aze
                            </a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">
                                    <img width="18" src="~/Public/assets/media/image/flags/262-united-kingdom.png"
                                         class="mr-2 rounded" title="United Kingdom"
                                         alt="flag">
                                    En
                                </a>
                                <a href="#" class="dropdown-item">
                                    <img width="18" src="~/Public/assets/media/image/flags/rusflag.jpeg"
                                         class="mr-2 rounded" title="Russia"
                                         alt="flag"> Rus
                                </a>
                            </div>
                        </li>

                        <!-- begin::header search -->
                        <li class="nav-item">
                            <a href="#" class="nav-link" title="Search" data-toggle="dropdown">
                                <i data-feather="search"></i>
                            </a>
                            <div class="dropdown-menu p-2 dropdown-menu-right">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-prepend">
                                            <button class="btn" type="button">
                                                <i data-feather="search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        @if (user == null)
                        {
                            <li class="nav-item">
                                <div>
                                    <a class="btn btn-outline-secondary" href="@Url.Action("index","home", new {Area="" })" role="button">
                                        Daxil ol
                                    </a>
                                </div>
                            </li>
                        }

                        <!-- end::header search -->

                        @if (user != null)
                        {
                            <!-- begin::header messages dropdown -->
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link nav-link-notify" title="Chats" data-toggle="dropdown">
                                    <i data-feather="message-circle"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                                    <div class="bg-dark p-4 text-center d-flex justify-content-between align-items-center">
                                        <h5 class="mb-0">Mesajlar</h5>
                                        <small class="opacity-7">@messages.Count() oxunmamış mesajınız var</small>
                                    </div>
                                    <div>
                                        <ul class="list-group list-group-flush">
                                            @foreach (var item in messages)
                                            {
                                                <li>
                                                    <a href="#" class="list-group-item d-flex align-items-center hide-show-toggler">
                                                        <div>
                                                            <figure class="avatar mr-2">
                                                                <img src="~/Upload/@user.Photo"
                                                                     class="rounded-circle" alt="user">
                                                            </figure>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                                @item.Sender
                                                                <i title="Mark as read" data-toggle="tooltip"
                                                                   class="hide-show-toggler-item fa fa-circle-o font-size-11"></i>
                                                            </p>
                                                            <div class="small text-muted">
                                                                <span class="mr-2">@item.Date</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                            }


                                        </ul>
                                    </div>
                                    <div class="p-2 text-right border-top">
                                        <ul class="list-inline small">
                                            <li class="list-inline-item mb-0">
                                                <a href="@Url.Action("index","messages")">Hamısına bax</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- end::header messages dropdown -->
                            <!-- begin::header notification dropdown -->
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link nav-link-notify" title="Notifications" data-toggle="dropdown">
                                    <i data-feather="bell"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                                    <div class="bg-dark p-4 text-center d-flex justify-content-between align-items-center">
                                        <h5 class="mb-0">Bildirişlər</h5>
                                        <small class="opacity-7">@notification.Count() oxunulmamış bildirişiniz var</small>
                                    </div>
                                    <div>
                                        <ul class="list-group list-group-flush">
                                            @foreach (var item in notification)
                                            {
                                                <li>
                                                    <a href="@Url.Action("index","notifications")" class="list-group-item d-flex align-items-center hide-show-toggler">
                                                        <div>
                                                            <figure class="avatar mr-2">
                                                                <span class="avatar-title bg-success-bright text-success rounded-circle">
                                                                    <i class="fa-users"></i>
                                                                </span>
                                                            </figure>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                                @item.Text
                                                                <i title="Mark as read" data-toggle="tooltip"
                                                                   class="hide-show-toggler-item fa fa-circle-o font-size-11"></i>
                                                            </p>
                                                            <span class="text-muted small">@item.Date</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="p-2 text-right border-top">
                                        <ul class="list-inline small">
                                            <li class="list-inline-item mb-0">
                                                <a href="#">Mark All Read</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- end::header notification dropdown -->
                            <!-- begin::user menu -->
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link" title="User menu" data-sidebar-target="#user-menu">
                                    <span class="mr-2 d-sm-inline d-none">@user.Fullname</span>
                                    <figure class="avatar avatar-sm">
                                        @if (user.IsAdmin == true)
                                        {
                                            <img src="~/Public/assets/media/Admin (2).jpg" class="rounded-circle"
                                                 alt="avatar">

                                        }
                                        <img src="~/Upload/@user.Photo" alt="userphoto" />

                                    </figure>
                                </a>
                            </li>
                            <!-- end::user menu -->
                        }
                    </ul>
                    <!-- begin::mobile header toggler -->
                    <ul class="navbar-nav d-flex align-items-center">
                        <li class="nav-item header-toggler">
                            <a href="#" class="nav-link">
                                <i data-feather="arrow-down"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- end::mobile header toggler -->
                </div>
            </div>

        </div>
        <!-- end::header -->
        @if (user != null)
        {
            <div class="sidebar" id="user-menu">
                <div class="py-4 text-center" data-backround-image="~/Public/assets/media/image/image1.jpg">
                    <figure class="avatar avatar-lg mb-3 border-0">
                        @if (user.IsAdmin == true)
                        {
                            <img src="~/Public/assets/media/Admin (2).jpg" class="rounded-circle" alt="image">

                        }
                        else if (user.IsAdmin == false && user.Photo == null)
                        {
                            <img src="~/Public/assets/media/image/photo9.jpg" class="rounded-circle" alt="image">
                        }
                        else if(user.IsAdmin == false && user.Photo != null)
                        {
                            <img src="~/Upload/@user.Photo" class="rounded-circle" alt="image">
                        }
                    </figure>
                    <h5 class="d-flex align-items-center justify-content-center">@user.Fullname</h5>
                </div>
                <div class="card mb-0 card-body shadow-none">
                    <div class="mb-4">
                        <div class="list-group list-group-flush">
                            <a href="profile.html" class="list-group-item p-l-r-0">Profil</a>
                            <a href="#" class="list-group-item p-l-r-0 d-flex">İzləyicilər</a>
                            <a href="mail.html" class="list-group-item p-l-r-0 d-flex">
                                Inbox <span class="badge badge-danger ml-auto"></span>
                            </a>
                            <a href="@Url.Action("logout","home", new {Area="" })" class="list-group-item p-l-r-0 text-danger">Çıxış</a>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h6 class="d-flex justify-content-between">
                           Tamamlanmış işlər
                            <span class="float-right">%68</span>
                        </h6>
                        <div class="progress" style="height:5px;">
                            <div class="progress-bar bg-secondary" role="progressbar" style="width: 68%;"
                                 aria-valuenow="68"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h6 class="d-flex justify-content-between">
                            Storage
                            <span>%25</span>
                        </h6>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 40%;" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!-- END: User Menu -->

    </div>
    <!-- END: Sidebar Group -->
    <!-- begin::main -->
    <div class="layout-wrapper">
        <div class="content-wrapper">

            <!-- begin::navigation -->
            <div class="navigation">
                <div class="navigation-menu-body">
                    <div class="navigation-menu-group">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="@Url.Action("homepage","home",new {Area="" } )">Ana səhifə</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("about","home",new {Area="" })">Haqqimizda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("index","orders",new {Area="" })">Sifarişlər</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("userlist","users",new {Area="" })">İstifadəçilər</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end::navigation -->

            <div class="content-body">
                @RenderBody();
                <!-- begin::footer -->
                <footer class="content-footer">
                    <div>© 2020 Nago - <a href="http://laborasyon.com/" target="_blank">Laborasyon</a></div>
                    <div>
                        <nav class="nav">
                            <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
                            <a href="#" class="nav-link">Change Log</a>
                            <a href="#" class="nav-link">Get Help</a>
                        </nav>
                    </div>
                </footer>
                <!-- end::footer -->

            </div>

        </div>

    </div>
    <!-- end::main -->
    <!-- Plugin scripts -->
    <script src="~/Public/vendors/bundle.js"></script>
    <!-- Apex chart -->
    <script src="~/Public/~/Public/apexcharts.com/samples/assets/irregular-data-series.js"></script>
    <script src="~/Public/vendors/charts/apex/apexcharts.min.js"></script>
    <!-- Daterangepicker -->
    <script src="~/Public/vendors/datepicker/daterangepicker.js"></script>
    <!-- DataTable -->
    <script src="~/Public/vendors/dataTable/datatables.min.js"></script>
    <!-- Dashboard scripts -->
    <script src="~/Public/assets/js/examples/dashboard.js"></script>
    <!-- Vamp -->
    <script src="~/Public/vendors/vmap/jquery.vmap.min.js"></script>
    <script src="~/Public/vendors/vmap/maps/jquery.vmap.usa.js"></script>
    <script src="~/Public/assets/js/examples/vmap.js"></script>
    <!-- To use theme colors with Javascript -->
    <div class="colors">
        <div class="bg-primary"></div>
        <div class="bg-primary-bright"></div>
        <div class="bg-secondary"></div>
        <div class="bg-secondary-bright"></div>
        <div class="bg-info"></div>
        <div class="bg-info-bright"></div>
        <div class="bg-success"></div>
        <div class="bg-success-bright"></div>
        <div class="bg-danger"></div>
        <div class="bg-danger-bright"></div>
        <div class="bg-warning"></div>
        <div class="bg-warning-bright"></div>
    </div>

    <script src="~/Public/assets/js/examples/pages/ecommerce-dashboard.js"></script>


    <!-- App scripts -->
    <script src="~/Public/assets/js/app.min.js"></script>

</body>


</html>
