@model IEnumerable<EarnHome.Models.Order>
@using EarnHome.Models
@{
    ViewBag.Title = "Sifarişlər";
    EarnHomeEntities db = new EarnHomeEntities();
    User user = Session["User"] as User;
}

<h2>Sifarişlər</h2>
<div class="row">
    <div class="col-md-6 col-xl-3 grid-margin stretch-card">
        <div class="card card-animate">
            <div class="card-body">
                <ul class="list-group">
                    @foreach (var item in ViewBag.Category)
                    {
                        <li>
                            <a href="@Url.Action("index","orders",new {id=item.Id })">@item.Name</a>
                        </li>

                    }

                </ul>
            </div>
        </div>
    </div><!-- end col -->
</div>
<div class="row orderitems">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-xl-3 grid-margin stretch-card">
            <!-- Simple card -->
            <div class="card card-animate">
                <img class="card-img-top img-fluid orderimg" src="~/Public/images/media/sm-1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">@item.Header</h4>
                    <h5 class="card-title">@item.User.Fullname</h5>
                    <p class="card-text">
                        @item.Text
                        <small class="text-muted">@item.Date</small>
                    </p>

                    @if (user != null)
                    {
                        if (ViewBag.Req != null)
                        {
                            if (ViewBag.Req.OrderId == item.Id && ViewBag.Req.UserId == user.Id)
                            {
                                <a href="javascript:void(0)" role="button" class="btn btn-success"><i class="fas fa-user-check"></i>Sorğu göndərilib</a>

                            }
                        }
                        else
                        {
                            <a href="#" role="button" id="sendRequest" data-id="@item.Id" class="btn btn-primary waves-effect waves-light">Sorğu göndər</a>
                        }


                    }
                    else
                    {
                        <a href="@Url.Action("index", "home")" role="button" class="btn btn-primary waves-effect waves-light">Sorğu Göndər</a>

                    }

                </div>
            </div>
        </div><!-- end col -->

    }

</div>


